/* 
---------------------------------------------
Portfolio
--------------------------------------------- 
*/

.our-portfolio {
    padding-top: 120px;
    margin-top: 0px;
}

.our-portfolio .space {
    padding-top: 20px;
}

.our-portfolio .section-header {
    padding-bottom: 30px;
}

.our-portfolio .section-heading h2 {
    text-align: center;
    margin: 0px 90px 0px 90px;
    margin-bottom: 120px;
    position: relative;
    z-index: 1;
}

.our-portfolio .item {
    position: relative;
}

.our-portfolio .item:hover .hidden-content {
    top: -100px;
    opacity: 1;
    visibility: visible;
}

.our-portfolio .item:hover .showed-content {
    top: 100px;
}

.our-portfolio .hidden-content {
    background: #4880ca;
    background: linear-gradient(105deg, rgb(30, 109, 255) 0%, rgb(44, 111, 255) 100%);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    opacity: 0;
    top: 0;
    visibility: hidden;
    position: absolute;
    z-index: 2;
    transition: all 0.5s;
}

.our-portfolio .hidden-content:after {
    width: 20px;
    height: 20px;
    position: absolute;
    background: #4880ca;
    content: '';
    left: 50%;
    bottom: -10px;
    margin-left: -5px;
    transform: rotate(45deg);
    background: linear-gradient(105deg, rgb(30, 109, 255) 0%, rgb(44, 111, 255) 100%);
    z-index: -1;
}

.our-portfolio .hidden-content h4 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.our-portfolio .hidden-content p {
    color: #fff;
}

.our-portfolio .showed-content {
    top: 0px;
    position: relative;
    z-index: 3;
    background-color: #fff;
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.our-portfolio .showed-content img {
    max-width: 100px;
}


/* 
---------------------------------------------
responsive
--------------------------------------------- 
*/

@media (max-width: 1645px) {
    form#contact .contact-dec {
        display: none;
    }
}

@media (max-width: 992px) {
    .main-banner {
        padding-top: 196px;
    }
    .main-banner .left-content {
        margin-right: 0px;
        text-align: center;
        margin-bottom: 45px;
    }
    .main-banner:after {
        top: 76px;
        z-index: -1;
    }
    .main-banner .left-content form,
    .main-banner .left-content form input {
        width: 100%!important;
    }
    #about {
        margin-top: 0px;
    }
    .about-us {
        position: relative;
        background-image: none;
        padding: 0px;
    }
    .about-us .left-image {
        margin-right: 0px;
        position: absolute;
        bottom: -220px;
        right: 0;
    }
    .about-us .services {
        text-align: center;
    }
    .about-us .services .item {
        background: rgb(255, 77, 30);
        background: linear-gradient(105deg, rgba(255, 77, 30, 1) 0%, rgba(255, 44, 109, 1) 100%);
        padding: 30px;
        border-radius: 20px;
        display: inline-block;
    }
    .about-us .services .item .right-text {
        text-align: left;
    }
    .our-services {
        margin-top: 200px;
    }
    .our-services .left-image {
        margin-right: 0px;
        margin-bottom: 45px;
    }
    .our-services .section-heading h2,
    .our-services .section-heading p {
        margin-right: 0px;
        text-align: center;
    }
    .our-portfolio .section-heading h2 {
        margin: 0px 0px 80px 0px;
    }
    .our-portfolio .item {
        margin-bottom: 15px;
    }
    .our-blog {
        margin-top: 0px;
    }
    .our-blog .top-dec {
        display: none;
    }
    .our-blog .section-heading h2 {
        margin-right: 0px;
        text-align: center;
        margin-bottom: 45px;
    }
    .our-blog .left-image .info .inner-content {
        position: relative;
        margin-right: 0px;
    }
    .our-blog .left-image .info .main-blue-button {
        position: relative;
        bottom: 0px;
        margin-top: 30px;
    }
    .our-blog .left-image {
        margin-bottom: 45px;
    }
    .contact-us {
        margin-top: 60px;
        padding: 120px 0px;
    }
    .contact-us .section-heading {
        text-align: center;
    }
    form#contact {
        margin-left: 0px;
        margin-top: 30px;
    }
    form#contact .contact-dec {
        display: none;
    }
    footer p {
        margin: 15px 0px 30px 0px;
    }
}

@media (max-width: 767px) {
    .our-portfolio .section-header {
        padding-bottom: 30px;
    }
    .our-portfolio .space {
        padding-top: 0px;
    }
    .about-us .left-image {
        bottom: -280px;
    }
    .our-blog .right-list {
        margin-left: 0px;
    }
    .our-blog .right-list ul li {
        display: inline-block;
        margin-top: 0px;
        padding-top: 30px;
        border-top: 1px solid #eee;
    }
    .our-blog .right-list .left-content {
        margin-right: 0px;
        width: 100%;
        margin-bottom: 15px;
    }
    .our-blog .right-list .right-image,
    .our-blog .right-list .right-image img {
        width: 100%;
    }
    .phone-info h4 span {
        display: block;
        margin-top: 15px;
    }
    .phone-info h4 span i {
        margin-left: 0px;
    }
}