.team {
    width: 100%;
    padding-top: 100px;
    padding-left: 100px;
}

@media(max-width: 575.98px) {
    .team {
        width: 110%;
        padding-top: 20px;
        padding-left: 70px;
    }
}
.navbar {
    padding: 10px 60px;
    background: rgba(70, 133, 216, 0.95) !important;
}
